<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="content">
    <div class="container-lg">
        <div class="d-flex justify-content-between my-3">
            <form id="cardForm" method="post" th:action="@{/cards/{cardId}/nickname(cardId=${cardDetail.getCardId()})}">
                <input type="hidden" name="_method" value="put" />
                <input type="text" id="cardName" name="cardName" class="h2" th:value="${cardDetail.getCardName()}">
                <button class="btn btn-primary" type="submit" id="editButton">저장</button>
            </form>
        </div>

        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="py-1">
                <th scope="row"></th>
                <td style="width: 30%;">결제 예정일 : </td>
                <td th:text="${cardDetail.getSettlementDay()}"></td>
                <td></td>
            </tr>
            <tr class="py-1">
                <th scope="row"></th>
                <td style="width: 30%;">결제 예정 금액 : </td>
                <td th:text="${cardDetail.getPaymentAmt()}"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

<!--    <script th:inline="javascript">-->
<!--        document.getElementById("editButton").addEventListener("click", function() {-->
<!--            var cardName = document.getElementById("cardName").value;-->
<!--            var cardId = [[${cardDetail.getCardId()}]];-->

<!--            var xhr = new XMLHttpRequest();-->
<!--            xhr.open("PUT", "/cards/" + cardId + "/nickname");-->
<!--            xhr.setRequestHeader("Content-Type", "application/json");-->

<!--            var data = {-->
<!--                nickName: cardName-->
<!--            };-->

<!--            xhr.send(JSON.stringify(data));-->



<!--            xhr.onreadystatechange = function() {-->
<!--                if (xhr.readyState === 4 && xhr.status === 200) {-->
<!--                    // 수정 성공한 경우의 처리-->
<!--                }-->
<!--            };-->
<!--        });-->
<!--    </script>-->

</th:block>
</html>