<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="content">
      <div class="container-fluid">
        <!-- 여기서부터 content 시작 -->
        <!-- Content Row -->
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            카드별 보기
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/cards/list}">전체보기</a>

            <div th:each="index : ${category}" class="card" style="width: 18rem;">
            <a class="dropdown-item" th:href="@{/cards/list/bank/{bankId}(bankId=${index.bank.getId()})}" th:text="${index.bank.getBankName()}">Action</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div th:each="index, stat : ${cardList}" class="card" style="width: 18rem;">
            <img th:src="@{/img/card/card{index}.png(index=${index.getBankId()})}" class="card-img-top" alt="My Image">
<!--            <img th:src="'/img/card/card' + ${stat.count%4 + 1} + '.png'" class="card-img-top" alt="My Image">-->
            <div class="card-body">
              <h5 class="card-title" th:text="${index.cardName}">Card title</h5>
<!--              <p th:text="${index.cardId}"></p>-->
<!--              <p th:text="${index.userId}"></p>-->
<!--              <p th:text="${index.bankId}"></p>-->
<!--              <p th:text="${index.settlementDay}"></p>-->
<!--              <p th:text="${index.settlementDate}"></p>-->
<!--              <p th:text="${index.paymentAmt}"></p>-->
              <a class="btn btn-primary" th:href="@{/cards/detail/{cardId}(cardId=${index.getCardId()})}">카드 상세 보기</a>
            </div>
          </div>
        </div>
      </div>
</th:block>
</html>