<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="content">
    <div class="container-fluid">
        <p>카드별명 : </p><p id="cardName" th:text="${cardDetail.getCardName()}"></p>
        <a th:href="@{/cards/edit/{cardId}(cardId=${cardDetail.getCardId()})}"><button id="editButton">카드별명 수정하기</button></a>
        <p>결제 예정일 : </p><p th:text="${cardDetail.getSettlementDay()}"></p>
        <p>결제 예정 금액 : </p><p th:text="${cardDetail.getPaymentAmt()}"></p>
        <p>전월 결제 금액 : </p><p th:text="${cardDetail.getPaymentAmt()}"></p>
        <p>전월 대비 감소 금액 : </p><p th:text="${cardDetail.getCardName()}"></p>
        <p>전월 대비 감소 금액 : </p><p th:text="${cardDetail.getCardName()}"></p>
    </div>

</th:block>
</html>