<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="content">
      <div class="container-fluid">
        <!-- 여기서부터 content 시작 -->
        <!-- Content Row -->
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            카드별 보기
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/cards/list}">전체보기</a>

            <div th:each="index : ${cardList}" class="card" style="width: 18rem;">
            <a class="dropdown-item" th:href="@{/cards/list/{bankId}(bankId=${index.bank.getId()})}" th:text="${index.bank.getBankName()}">Action</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div th:each="index : ${cardList}" class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a th:href="@{/cards/detail/{cardId}(cardId=${index.cardId})}">Link</a>
<!--              <a href="javascript:void(0);" th:onclick="openPopup([[${index.cardId}]])">Link</a>-->
            </div>
            <p th:text="${index.cardId}"></p>
            <p th:text="${index.user.getUserId()}"></p>
            <p th:text="${index.bank.getId()}"></p>
            <p th:text="${index.cardName}"></p>
            <p th:text="${index.settlementDay}"></p>
            <p th:text="${index.settlementDate}"></p>
            <p th:text="${index.paymentAmt}"></p>
          </div>
        </div>
      </div>
  <script>
    function openPopup(cardId) {
      var url = '/cards/detail/' + cardId;
      console.log(url);
      var popupWindow = window.open(url, '_blank', 'width=600,height=400');
      if (popupWindow) {
        popupWindow.focus();
      }
    }
  </script>
</th:block>
</html>