<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="content">
    <div class="container-lg">
        <div class="d-flex justify-content-between my-3">
            <div>
                <input type="text" id="cardName" name="cardName" class="h2" th:value="${cardDetail.getCardName()}">
                <button class="btn btn-primary" type="submit" id="editButton">저장</button>
            </div>
        </div>

        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="py-1">
                <th scope="row"></th>
                <td style="width: 30%;">결제 예정일 : </td>
                <td th:text="${cardDetail.getSettlementDay()}"></td>
                <td></td>
            </tr>
            <tr class="py-1">
                <th scope="row"></th>
                <td style="width: 30%;">결제 예정 금액 : </td>
                <td th:text="${cardDetail.getPaymentAmt()}"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script>
        /*<![CDATA[*/
        $(document).ready(function() {
            $('#editButton').click(function(e) {
                e.preventDefault(); // prevent the form from being submitted

                var cardId = [[${cardDetail.getCardId}]];
                var cardName = $('#cardName').val();
                console.log(cardId + " " + cardName);

                $.ajax({
                    url: '/cards/' + cardId + '/nickname',
                    method: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify({ cardName: cardName }),
                    success: function(response) {
                        window.location.href = "http://localhost:8080/cards/detail/"+cardId;
                    },
                    error: function(xhr, status, error) {
                        // handle errors here
                    }
                });
            });
        });
        /*]]>*/
    </script>

</th:block>
</html>