<!DOCTYPE html>
<!-- 가계부 조회 페이지 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="content">
    <div class="container-fluid">
        <h1>가계부</h1>
        <table class="table caption-top">
            <thead>
            <tr>
                <th scope="col">이번 달 예산</th>
                <th scope="col">남은 예산</th>
            </tr>
            </thead>
            <tbody>
            <tr th:with="bookListDto = ${books}">
                <td th:text="${bookListDto.budget}">이번 달 예산</td>
                <td th:text="${bookListDto.remainBudget}">남은 예산</td>
            </tr>
            </tbody>
        </table>
        <div class="btn-container">
            <button type="button" class="btn btn-primary" onclick="location.href='/books/month-plan'">예산</button>
            <button type="button" class="btn btn-primary">수정</button>
            <button type="button" class="btn btn-primary" th:onclick="'location.href=\'/books/expenditure-detail/' + ${books.bookId} + '\''">작성</button>
        </div>
        <table class="table caption-top">
            <thead>
            <tr>
                <th scope="col">유형</th>
                <th scope="col">사용 내역 및 용도</th>
                <th scope="col">사용 금액</th>
                <th scope="col">메모</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="BookDetailsDto : ${books.details}">
                <td th:text="${BookDetailsDto.costType}">유형</td>
                <td th:text="${BookDetailsDto.content}">사용 내역 및 용도</td>
                <td th:text="${BookDetailsDto.cost}">사용 금액</td>
                <td th:text="${BookDetailsDto.memo}">메모</td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>
