<!--가계부 내용 추가 페이지-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}" lang="ko">

<head>
	<meta charset="UTF-8">
</head>
<th:block layout:fragment="content">
	<div class="container-fluid">
<body>
	<form method="post" action="/books/expenditure-detail">

		<div class="container">
			<h1>가계부 작성</h1>
			<div class="form-group">
				<input type="hidden" id="bookId" name="bookId" th:value="${bookId}">

				<label for="costType">유형</label>
				<select class="form-control" id="costType" name="costType">
					<option value="IC">수입</option>
					<option value="FC">고정 지출</option>
					<option value="VC">변동 지출</option>
				</select>
			</div>
		</div>
		<div class="container">

			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label for="content">사용 내역</label>
						<input type="text" class="form-control" id="content" name="content" placeholder="내역">
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label for="cost">사용 금액</label>
						<input type="cash" class="form-control" id="cost" name="cost" placeholder="금액">
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label for="memo">메모</label>
						<input type="text" class="form-control" id="memo" name="memo" placeholder="메모">
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary" onclick="location.href='/books/list/{userId}'">등록</button>

		</div>

	</form>
</body>
	</div>
</th:block>
</html>