<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Home page입니다.</h1>
	<tr>
		<th>id:</th>
		<td>[[${userId}]]</td>
	</tr>
	<tr>
		<th>pw:</th>
		<td>[[${userPw}]]</td>
	</tr>
	<tr>
		<th>name:</th>
		<td>[[${userName}]]</td>
	</tr>
	<br>
	<div th:if="${userName}">
		<a th:href="@{/logout}">로그아웃</a>
	</div>
	<div th:unless="${userName}" onclick="login">
		<a th:href="@{/login}">로그인</a>
	</div>
</body>
</html>