<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}" lang="ko">
<style>
	div > h1{
		text-align: center;
	}
	
	.Amt{
		text-align: center;
	}
	</style>
<th:block layout:fragment="content">
	<div class="container-fluid">
		<h1>전체 계좌</h1>
			<table class="table table-hover">
				<thead class="p-3 mb-2 bg-primary text-white">
					<tr>
						<th style="text-align:center; width:1%" >선택</th>
						<th style="text-align:center; width:2%">번호</th>
						<th style="text-align:center; width:10%">계좌 번호</th>
						<th style="text-align:center; width:5%">은행</th>
						<th style="text-align:center; width:5%">잔액(원)</th>
						<th style="text-align:center; width:5%">상세보기</th>
					</tr>
				</thead>
				
				<tbody>
				<form id="form"  align="center">
					<tr th:each="index : ${accountList}">
						<td style="text-align:center;"><input type="checkbox" name="deleteId" th:value="${index.accountId}"/>
						<td th:text="${index.accountId}" style="text-align: center;"></td>
						<td th:text="${index.accountNum}" style="text-align: center;"></td>
						<td th:text="${index.bankName}" style="text-align: center;"></td>
						<td th:text="${#numbers.formatInteger(index.availableAmt, 3, 'COMMA')}" style="text-align: right;"></td>
						<td style="text-align: center;">
							<a href="javascript:void(0);" th:onclick="openPopup([[${index.accountId}]])"> 상세내역</a>
						</td>
					</tr>
				</form>
				</tbody>
			</table>
			
			<!-- 사용자가 직접 계좌를 추가,삭제하는 버튼 -->
			<div style="display: inline-block; margin: 0 5px; float: right;">
				<button type="button" class="btn btn-primary"
						onclick="location.href='/accounts/addAccount'">추가</button>
				<button type="button" class="btn btn-primary"
						onclick="fnDelete()">삭제</button>
			</div>
			
			<script>
				//팝업
				function openPopup(accountId) {
					var url = "/accounts/detail/" + accountId;
					var popup = window.open(url, "_blank",
							"width=800, height=600, left=300, right=300");
				}
				// 체크박스 delete
				function fnDelete(){
					let deleteCheck = $("input[name='deleteId']:checked").length;
					if(deleteCheck > 0){
						if(confirm("정말 삭제 하시겠습니까?")){
							let form = $("#form");
							form.attr("action", "deleteAccount");
							form.attr("method", "post");
							form.submit();
						} 
					} else{
						alert("선택해 주세요.");
					}
				}	
			</script>
	</div>
</th:block>
</html>
