<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}" lang="ko">
<style>
	div > h1{
	text-align: center;
	}
</style>
<th:block layout:fragment="content">
	<div class="container-fluid">
		<h1>전체 계좌</h1>
			<table class="table table-hover">
				<thead class="p-3 mb-2 bg-primary text-white">
					<tr>
						<th>선택</th>
						<th>번호</th>
						<th>계좌 번호</th>
						<th>은행</th>
						<th>잔액</th>
						<th>상세보기</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="index : ${accountList}">
						<td><input type="checkbox" name="deleteId" th:value="${index.accountId}"/>
						<td th:text="${index.accountId}"></td>
						<td th:text="${index.accountNum}"></td>
						<td th:text="${index.bankName}"></td>
						<td th:text="${index.availableAmt + '원'}"></td>
						<td>
							<a href="javascript:void(0);" th:onclick="openPopup([[${index.accountId}]])"> 상세내역</a>
						</td>
					</tr>
				</tbody>
			</table>
			
			<!-- 사용자가 직접 계좌를 추가,삭제하는 버튼 -->
			<div style="display: inline-block; margin: 0 5px; float: right;">
				<button type="button" class="btn btn-primary"
						onclick="location.href='/accounts/addAccount'">추가</button>
				<button type="button" class="btn btn-primary"
						onclick="fnDelete()">삭제</button>
			</div>
			
			<script>
				//팝업
				function openPopup(accountId) {
					var url = "/accounts/detail/" + accountId;
					var popup = window.open(url, "_blank",
							"width=800, height=600, left=300, right=300");
				
				// 체크박스 delete
				function fnDelete(){
					let deleteCheck = $("input[name='deleteId']:checked").length;
					if(deleteCheck > 0){
						if(confirm("정말 삭제 하시겠습니까?")){
							let form = $("#form");
							form.attr("action", "account/delete");
							form.attr("method", "post");
							form.submit();
						} 
					} else{
						alert("선택해 주세요.");
					}
				}	
			</script>
	</div>
</th:block>
</html>



<!-- <td th:text="${account.bank.getId()}"></td>
			<td th:text="${account.accountNum}"></td>
			<td th:text="${account.bank.getBankName()}"></td>
			<td th:text="${account.availableAmt}"></td> -->
<!-- <div th:each="index : ${accountList}" >
                        <p th:text="${index.accountId}"></p>
                        <p th:text="${index.user.getUserId()}"></p>
                        <p th:text="${index.bank.getId()}"></p>
                        <p th:text="${index.accountNum}"></p>
                        <p th:text="${index.availableAmt}"></p>
                        <p th:text="${index.tranDate}"></p>
    </div> -->
    
    		<!--	$(document).ready(function() {
						$.ajax({
							url: "/book/bookView.html", // bookView.html의 경로
							dataType: "html",
							success: function(response) {
								$("#bookViewContainer").html(response);
							},
							error: function(xhr, status, error) {
								console.error(error);
							}
						});
					});	-->