<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
<th:block layout:fragment="content">
  <div class="container-fluid">
    <form>
      <div class="container">
        <h2>계좌 추가</h2>
        
        <div class="accuntNum">
          <lable for="accountNum">계좌번호</lable>
          <input type="text" class="form-control" id="accountNum" name="accountNum" placeholder="계좌번호">
        </div>
        
        <div class="form-group">
          <label for="bank">은행</label>
          <select id="bank" class="form-control">
            <option value="">선택하세요</option>
            <option th:each="bank : ${banks}" th:value="${bank.bankName}" th:text="${bank.bankName}"></option>
          </select>
        </div>
        
        
        <div class="availableAmt">
          <lable for="availableAmt">잔액</lable>
          <input type="text" class="form-control" id="availableAmt" name="availableAmt" placeholder="잔액">
        </div>
        
        <div style="display: inline-block; margin: 0 5px; float: right;">
          <button type="submit" class="btn btn-primary">등록</button>
        </div>
      </div>
    </form>
  
  </div>
  
  <script>
    var bankDropdown = document.getElementById('bank');
    
    // 서버에서 bankList 데이터를 가져와서 드롭다운 메뉴에 옵션 추가하기
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/banks/list', true);
    xhr.onload = function () {
      if (xhr.status === 200) {
        var banks = JSON.parse(xhr.responseText);
        console.log("bankId")
        banks.forEach(function (bank) {
          var option = document.createElement('option');
          option.value = bank.bankName;
          option.text = bank.bankName;
          bankDropdown.appendChild(option);
        });
      }
    };
    xhr.send();
  </script>
</th:block>
</html>
