<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:each="index : ${accountList}" >
                        <p th:text="${index.accountId}"></p>
                        <p th:text="${index.user.getUserId()}"></p>
                        <p th:text="${index.bank.getId()}"></p>
                        <p th:text="${index.accountNum}"></p>
                        <p th:text="${index.availableAmt}"></p>
                        <p th:text="${index.tranDate}"></p>
                        <p th:text="${index.tranTime}"></p>
    </div>
    	<table border="1">
		<th>번호</th>
		<th>계좌 번호</th>
		<th>은행</th>
		<th>잔액</th>
		<th>상세보기</th>
		<tr>
			<td>
				
			</td>
		</tr>
	</table>
</body>
</html>