<!--가계부 내용 추가 페이지-->
<!--signup.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<form method="post" action="/books/details">

		<div class="container">
			<h1>가계부 내용 추가</h1>
			<div class="form-group">
				<label for="costType">유형</label>
				<select class="form-control" id="costType" name="costType">
					<option value="option1">수입</option>
					<option value="option2">고정 지출</option>
					<option value="option3">변동 지출</option>
				</select>
			</div>
		</div>


		<div class="container">

			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label for="content">사용 내역</label>
						<input type="text" class="form-control" id="content" name="content" placeholder="내역">
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label for="cost">사용 금액</label>
						<input type="cash" class="form-control" id="cost" name="cost" placeholder="금액">
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label for="memo">메모</label>
						<input type="text" class="form-control" id="memo" name="memo" placeholder="메모">
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">등록</button>
		</div>

	</form>
</body>

</html>