<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="content">

<div class="container-fluid">
    <button onclick="authorization()">오픈뱅킹인증하기</button>
</div>

<script>
    function authorization() {
        var url="https://testapi.openbanking.or.kr/oauth/2.0/authorize?"
            +"response_type=code&"
            +"client_id=86dd1ec4-2394-4815-963f-0e5d2c28428a&"
            +"redirect_uri=http://localhost:8080/requesttoken&"
            +"scope=login cardinfo&"
            +"state=12345678123456781234567812345678&"
            +"auth_type=0";
// 			var tmpWindow = window.open('about:blank')
// 			tmpWindow.location = url;
        window.location.href = url;
        // var newWindow = window.open(url,"인증하기","width=800px,height=800px");
    }

</script>
</th:block>

</html>