<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="content">
  <div class="container-fluid">
    <h1>Fxxk Fragment</h1>
    <h2>Index.html 제외하고는 전부 각 도메인 별 폴더 구분해주세요.</h2>
    <h2>layout은 index.html을 참고하시면 됩니다.</h2>
    <h2>layout은 index.html의 상단 html 태그를 가져다 쓰면 사용하실 수 있어요.</h2>
    <h2>layout은 content를 선언하고 그 안에서 view page code 작성해주세요. </h2>
  </div>
</th:block>
</html>